@font-face {
    font-family: 'DM Sans Regular';
    src: url("/fonts/DMSans_18pt-Regular.ttf");
}

a {
    text-decoration: none;
}

body {
    background-color: #191919;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 0px;
}

h1{
    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-style: Regular;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFF;
}

h2 {
    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    color: #FFFF;

}

h3 {

    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-size: 57px;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    color: #FFFF;
    margin: 0px;

}

p {
    font-family: 'DM Sans Regular';
    color: #FFFF;

}

.navigationBar {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    gap: 40px;
    padding: 20px;
}

.logo{
    margin: 17px 0px 17px 50px;
}

.navigationLinks {

    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #FFFF;
    transition: color 0.3s ease;

}

.navigationLinks:hover{
    color: #118DA8;
}

.pasteboard {
    display: flex;
    padding: 40px 50px 0px 50px;
    align-items: center;
    gap: 60px;
}

main {
    margin: 0px 20px 0px 20px;
}



.pasteboardInfo {
    
    display: flex;
    flex-direction: column;
    align-items: start;


}

.platforms {

    display: flex;
    flex-direction: column;

    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFF;
    padding-left: 20px;

}

.platformLinks {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;

}

.latestEpisodes {
    
    
    padding: 100px 50px 160px 50px;
    
}

.sectionHeader{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.buttonEp {

    opacity: 1;
    border-radius: 6px;
    background-color: #118DA8;
    color: #FFFF;
    border: none;

    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0%;

}

.buttonEp:active{
    background-color: #0b667a;
    
}

.buttonViewAllSize {

    width: 178px;
    height: 51px;

}

.episodes {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.episode {

    padding: 40px;
    background-color: #000000;
    border-radius: 32px;
    display: flex;
    gap: 53px;

}

.epInfo {
    align-items: start;
    display: flex;
    flex-direction: column;

}

#hashtags {

    width: 73;
    height: 27;
    border-radius: 6px;
    opacity: 1;
    background-color: #191919;
    color: #FFFF;

    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding: 0px 16px;

}

.epNumber {
    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #118DA8  ;
    margin: 48px 0px 17px 0px;

}

.discription {

    display: flex;
    flex-direction: column;

}

.describePosition {
    margin: 30px 20px 25px 0px;
}

.describe {

    font-family: 'DM Sans Regular';
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    color: #FFFFFFB2;
    margin: 0px;
    padding: 0px;
    
}

.buttonViewDetailsSize {

    width: 208;
    height: 51;
    opacity: 1;
    padding: 12px 17.5px;

}

.meetingHost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    padding: 100px 50px;
    margin: 0px 20px;
    margin: 0px;
}

.aboutHost {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.descriptionHost {

    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 590px;
}

.circleBtn {

    width: 112px;
    height: 112px;
    opacity: 1;
    border-radius: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.icon {
    width: 71px;
    height: 38px;
    opacity: 1;

}

.sign {

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #118DA8;
    margin: 0px;
}

#nameAutor {

    font-weight: 400;
    font-size: 65px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    color: #FFFF;
    margin-top: 20px;

}

.history {
    margin: 30px 0px;
}

.subForUpd {

    padding: 100px 50px;
    align-items: center;

}

.subForms {

    background-color: #000000;
    padding: 60px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

#mainSign {

    font-weight: 400;
    font-size: 72px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    margin: 0px;


}